.contents {
  background: rgb(24, 6, 131);
  background: linear-gradient(
    80deg,
    rgba(24, 6, 131, 1) 0%,
    rgba(29, 60, 120, 1) 18%,
    rgba(8, 20, 111, 1) 37%,
    rgba(86, 14, 111, 1) 70%
  );
  position: relative;
  overflow: hidden;
}
