
.contact{
  position: relative;
  max-width: 1100px;
  height: 100vh;
}.contact-head h1 {
  position: absolute;
  top: 95px;
  right: 70px;
  font-size: 50px;
  color: #ffc400;
}
.contact-content img{
  height: 96vh;
}
