@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@506&display=swap");

.footer {
  background: #291c56;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #fff;
}
.footer-menus p {
  font-family: "Quicksand", sans-serif;
}
.footer-social h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
}
.footer-links {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li {
  list-style: none;
}
ul li::before {
  content: none;
}
a:-webkit-any-link {
  text-decoration: none;
  color: white;
  margin: 5px;
  padding: 10px;
}
.footer-container ul li :hover {
  border: 1px solid white;
  border-radius: 20px;
}

.footer-social {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-container p {
  margin-top: 30px;
  font-size: smaller;
  font-weight: bold;
}
.footer-menus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-menu {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-social {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .footer-logo {
    object-fit: contain;
    padding: 0;
    margin: 0;
  }
  .footer-logo img {
    padding: 0;
    margin: 0;
    max-width: 200px;
  }
}
