.navbar {
    background-color: transparent;
    height: 90px ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.rem;
    position: absolute;
    top: 0;
    z-index: 999;
  }
  .logo{
      width: 270px;
      height: 170px;
  }
  .nav-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 90px;
      max-width: 1500px;
  }
  
  .nav-logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo{
    width: 90px;
    height: 53px;
  }
  
 
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    height: 50px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1.2rem;
    height: 100%;
  
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
