.process {
  height: 110vh;
  width: 100%;
}
.head h1 {
  margin-top: 60px;
  margin-left: 110px;
  font-size: 52px;
  color: #ffc400;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
}
.menu-lists {
  position: absolute;
  top: 10px;
  left: 152px;
  max-width: 500px;
  list-style: none;
}
.menu-list {
  font-size: 28px;
  margin: 45px 0;
  color: #fffc;
}

.menu-list::before {
  content: "\2022";
  color: #c500ff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  text-shadow: 0 4px 8px 0 #c300ff1a, 0 6px 20px 0 #c300ffa1;
}
.menu img {
  position: absolute;
  top: 0;
  right: -1px;
  width: 45%;
  height: 90vh;
}
.menu {
  object-fit: contain;
}
@media only screen and (max-width: 600px) {
  .process {
    margin-top: 1000px;
  }
  .head h1 {
    margin-top: 60px;
    margin-left: 10px;
  }
  .menu-lists {
    top: 10px;
    left: 52px;
  }
  .menu {
    flex-direction: column;
  }
  .menu img {
    position: absolute;
    top: 90px;
    right: -1px;
    width: 55%;
    height: 50vh;
    z-index: -1;
    opacity: 0.6;
  }
  .process {
    height: 70vh;
    width: 100%;
  }
}
